Config

*.swp
*.DS_Store
*.aws-sam
.vscode/
node_modules/

!*shared/nodejs/node_modules/

# !/Users/matanzu/Projects/blockchain/nft-deployment-amazon-managed-blockchain/serverless/lambdas/shared/nodejs/node_modules/onchain-utils